// @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
// @font-face {
//     font-family: 'Druk Cyr';
//     src: url('../fonts/DrukCyr/DrukCyr-BoldItalic.eot');
//     src: local('Druk Cyr Bold Italic'), local('DrukCyr-BoldItalic'),
//         url('../fonts/DrukCyr/DrukCyr-BoldItalic.eot?#iefix') format('embedded-opentype'),
//         url('../fonts/DrukCyr/DrukCyr-BoldItalic.woff2') format('woff2'),
//         url('../fonts/DrukCyr/DrukCyr-BoldItalic.woff') format('woff'),
//         url('../fonts/DrukCyr/DrukCyr-BoldItalic.ttf') format('truetype');
//     font-weight: bold;
//     font-style: italic;
// }
@font-face {
    font-family: 'Cygre';
    src: url('../fonts/Cygre-Medium.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
// @import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

html {
    min-height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    font-family: 'Open Sans', sans-serif;
    // letter-spacing: -0.015em; /* adjust letter spacing depending on font size */
    word-spacing: 0.1em;
    -webkit-font-smoothing: antialiased; /* looks better */
    -moz-osx-font-smoothing: grayscale; /* looks better */
    color: var(--color-black);
    // overflow-x: hidden;
    color: #fff;
    min-height: 100vh;
    width: 100vw;
    // overflow-x: hidden;
}

::placeholder {
    color: #B6BCC8;
    opacity: 1;
}
:-ms-input-placeholder {
    color: #B6BCC8;
}
::-ms-input-placeholder {
    color: #B6BCC8;
}

#app {
    // overflow-x: hidden;
}